################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/riverlane
/.vs/test1
/.vs/RISC_MACHINE/v17
